body {
  font-family: 'Rubik', sans-serif;
}

.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  height: 570px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 50px;
}

.header__menu {
  width: 100%;
  margin-left: 40px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header a {
  color: white;
  font-weight: 900;
}

.header__link {
  font-size: 35px;
  -webkit-transition: .3s;
  transition: .3s;
  margin-right: 40px;
  position: relative;
}

.header__link:hover {
  color: #F2EC5C;
}

.header__test {
  margin-left: 90px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border: 4px solid #F2EC5C;
  padding: 20px 30px;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__test:hover {
  background: white;
  color: #F2EC5C;
}

.header .header__headline,
.header .header__subtitle {
  font-weight: 900;
  color: white;
  text-align: center;
}

.header .header__headline {
  font-size: 110px;
  text-transform: uppercase;
  margin-top: 30px;
}

.header .header__subtitle {
  font-size: 60px;
}

.footer {
  width: 100%;
  height: 285px;
  padding: 10px 110px;
  background: url(../img/footer/05.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__container {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__headline {
  font-size: 35px;
  font-weight: 900;
  color: #78A178;
}

.footer__menu-social {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
