$color-1: #6D854E;
$color-2: #F2EC5C;
$color-3: #686666;
$color-4: white;

body {
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    width: 100%;
}

.header {
    width: 100%;
    height: 570px;

    &__top {
        display: flex;
        align-items: flex-start;
        padding: 20px 50px;
    }

    &__menu {
        width: 100%;
        margin-left: 40px;
        padding-top: 20px;
        display: flex;
        justify-content: flex-start;
    }

    a {
        color: white;
        font-weight: 900;
    }

    &__link {
        font-size: 35px;
        transition: .3s;
        margin-right: 40px;
        position: relative;

        &:hover {
            color: $color-2;
        }
    }

    &__test {
        margin-left: 90px;
        color: white;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        border: 4px solid $color-2;
        padding: 20px 30px;
        transition: .3s;

        &:hover {
            background: white;
            color: $color-2;
        }
    }

    .header__headline,
    .header__subtitle {
        font-weight: 900;
        color: white;
        text-align: center;
    }

    .header__headline {
        font-size: 110px;
        text-transform: uppercase;
        margin-top: 30px;
    }

    .header__subtitle {
        font-size: 60px;
    }
}

.footer {
    width: 100%;
    height: 285px;
    padding: 10px 110px;
    background: url(../img/footer/05.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__headline {
        font-size: 35px;
        font-weight: 900;
        color: $color-1;
    }

    &__menu-social {
        width: 35%;
        display: flex;
        justify-content: space-between;
    }
}